@page
@model RazorFrontEndProject.Pages.TaxCalcModel
@{
}
<h1><H1/>  
<h2>Please enter your tax information</h2>

<table>
  <form method="post">

    <tr>
      <td>Postal Code:</td>
      <td>
        <select name="PostalCode">
          <option value="7441">7441</option>
          <option value="A100">A100</option>
          <option value="7000">7000</option>
          <option value="1000">1000</option>
        </select>
      </td>
    </tr>
 
    <tr><td>Annual Taxable Income:</td><td><input type="number" name="TaxableIncome" /></td></tr>

    <tr>
      <td><div asp-validation-for="TaxableIncome"</div></td>
    </tr>
  
    <!-- Add other input fields as needed -->
    <tr><td><Submit </td><td><button type="submit" asp-page-handler="Submit" >Submit</button></td></tr>
  
  </form>
</table>