@page
@model RazorFrontEndProject.Pages.TaxCalcModel
@{
}
<h1><><H1/>  
<h2>Please enter your tax information</h2>

<table>
  <form method="post">

    <tr><td>Postal Code:</td><td><input type="text" name="PostalCode" /></td></tr>
 
    <tr><td>Annual Taxable Income:</td><td><input type="number" name="TaxableIncome" /></td></tr>
  
    <!-- Add other input fields as needed -->
    <tr><td><Submit </td><td><button type="submit" asp-page-handler="Submit" >Submit</button>></td></tr>
  
  </form>
</table>